
/*.content{
    width: 450px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
  }*/
  .nav-pills{
    width: 450px;
  }
  .nav-item{
    width: 50%;
  }
  .nav-pills .nav-link{
    font-weight: bold;
    padding-top: 13px;
    text-align: center;
    background: #343436;
    color: #fff;
    border-radius: 30px;
    height: 100px;
  }
  .nav-pills .nav-link.active{
    background: #fff;
    color: #000;
  }
  .tab-content{
    position: absolute;
    width: 1260px;
    height: 500px;
    margin-top: 20px;
    background: #fff;
    color: #000;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-bottom: 50px;
    left: 250px;
  }
  .tab-content button{
    border-radius: 15px;
    width: 100px;
    margin: 0 auto;
    float: right;
  }

  #tabU{
      position: absolute !important;
      left: 145px !important;
      top: 250px !important
    }
  

  #liTabU{
      -webkit-transform: rotate(270deg) !important;
  }
  
  #liTabR{
    -webkit-transform: rotate(270deg) !important;
    position: absolute !important;
    left: 0px !important;
    top: 175px !important;
  }

  table.dataTable {
    clear: both;
    margin-top: 64px !important;
    margin-bottom: 78px !important;
    max-width: none !important;
    border-collapse: separate !important;
  }