.nav-pills{
    width: 450px;
  }
  .nav-item{
    width: 50%;
  }
  .nav-pills .nav-link{
    font-weight: bold;
    padding-top: 13px;
    text-align: center;
    background: #343436;
    color: #fff;
    border-radius: 30px;
    height: 100px;
  }
  .nav-pills .nav-link.active{
    background: #fff;
    color: #000;
  }
  .tab-content{
    position: absolute;
    width: 1330px;
    height: 600px;
    margin-top: 20px;
    background: #fff;
    color: #000;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-bottom: 50px;
    left: 160px;
  }




  #tabU{
      position: absolute !important;
      left: 50px !important;
      top: 300px !important
    }

  #liTabU{
      -webkit-transform: rotate(270deg) !important;
      position: absolute !important;
      top: -54px !important;
      left: 32px !important;
      width: 165px !important;
  }
  #liTabR{
    -webkit-transform: rotate(270deg) !important;
    position: absolute !important;
    left: 35px !important;
    top: 60px !important;
    width: 35% !important;
  }
  #liTabAr{
    -webkit-transform: rotate(270deg) !important;
    position: absolute !important;
    left: 35px !important;
    top: 162px !important;
    width: 35% !important;
  }



 /* #Pemail{
      right: 500px !important;
  }*/
  .tab-content button {
    border-radius: 43px;
    width: 58px;
    margin: 0 auto;
    float: right;
}

table.dataTable {
    clear: both;
    margin-top: 37px !important;
    margin-bottom: 78px !important;
    max-width: none !important;
    border-collapse: separate !important;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
    background-color: #4adbd4;
    color: white;
  }

  #dvEmail{
    position: absolute !important;
    top: 150px !important;
  }

#dvEmail2{
    position: absolute !important;
    top: 150px !important;
    right: 90px;
}

#divPass{
    position: absolute !important;
    top: 320px !important;
    right: 90px;
}

#dvDesp{
    position: absolute !important;
    top: 320px !important;
}

#btnUsr{
    position: relative !important;
    top: 450px !important;
    float: none !important;
    border-radius: inherit !important;
    width: 350px !important;
    
}