.nav-pills{
    width: 450px;
  }
  /*
  .nav-item{
    width: 50%;
  }*/
  .nav-pills .nav-link{
    font-weight: bold;
    padding-top: 13px;
    text-align: center;
    background: #343436;
    color: #fff;
    border-radius: 30px;
    height: 100px;
  }
  .nav-pills .nav-link.active{
    background: #fff;
    color: #000;
  }
  .tab-content{
    position: absolute;
    width: 1330px;
    height: auto !important;
    margin-top: -3px;
    background: #fff;
    color: #000;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-bottom: 50px;
    left: 160px;
  }

  #tabU{
      position: absolute !important;
      left: 50px !important;
      top: 300px !important
    }

  #liTabU{
      -webkit-transform: rotate(270deg) !important;
      position: absolute !important;
      top: -1px !important;
      left: 15px !important;
      width: 200px !important;
  }


  #liTabR{
    -webkit-transform: rotate(270deg) !important;
    position: absolute !important;
    left: 35px !important;
    top: 60px !important;
    width: 200px !important;
  }
  #liTabAr{
    -webkit-transform: rotate(270deg) !important;
    position: absolute !important;
    left: 15px !important;
    top: 154px !important;
    width: 200px !important;
  }


  .tab-content button {
    border-radius: 43px;
    width: 58px;
    margin: 0 auto;
    float: right;
}

table.dataTable {
    clear: both;
    margin-top: 7px !important;
    max-width: none !important;
    border-collapse: separate !important;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}

  th {
    background-color: #4adbd4;
    color: white;
  }

  #dvUsers{
    position: absolute !important;
    top: 150px !important;
    left: 10px !important;
  }

#dvDep{
    position: absolute !important;
    top: 122px !important;
    right: 115px;
}


#btnUsr{
    position: relative !important;
    top: 400px !important;
    float: none !important;
    border-radius: inherit !important;
    width: 350px !important;
    left: -40px !important;
    
}

#fmAddUser{
    width: 1152px !important;
    height: 465px !important;
}

.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}



#cbDep{
    position: absolute !important;
    left: -7px !important;
}

.select2-container{
width: 550px !important;

}

#lbus{
    position: relative !important;
    top: -36px !important;
    left: 55px !important;
}


.modal-content{
  width: 800px !important;
}
body {
  overflow:hidden;
}